/* All used to check boxes */
* {
    outline: 2px black;
}

/* Element styles */
body {
    background-color: #000000;
    color: #FFFFFF
}

h1{
    padding: 2px;
    margin: 2px;
    font-family: 'Courier New', Courier, monospace;
}

h2{
    padding: 20px;
    margin: 20px;
    font-family: Georgia, Times, serif;
}

h3{
    padding: 20px;
    margin: 20px;
    font-family: 'Times New Roman', Times, serif;
}

p{
    font-size: 16px;
    margin: 0% 10% 0% 10%;
}

ul{
    text-align: justify;
    margin-left: 40%;
    margin-right: 40%;
}
ol{
    text-align: justify;
    margin-left: 20%;
    margin-right: 20%;
}

div{
    display: block;
    width: auto;
    height: 2px;
    padding: 2px;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Class Styles */
.center {
    display: block;
    text-align: center;
    text-justify: auto;
    padding: 5px 5px 5px 5px;
}

.ingredients{
    display: block;
    margin: 2px 2px 2px 2px;

}

.steps
{
    display: block;
    margin: 2px 2px 2px 2px;
}
/* ID Styles */
#image {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 5px 5px 5px 5px;
}

/* Hyperlink Styles */
a{
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', sans-serif;
}
a:link{
    color: #f12222;
}

a:visited{
    color: #f68080;
}

a:hover{
    color: #bc3b3b;
}

a:active{
    color: #3175ba;
}